#langchain==0.3.19
langchain-community==0.3.21
langchain-ollama==0.3.2
langchain-core==0.3.52
langgraph==0.3.30
chainlit==2.2.1
#pydantic==2.11.3
ollama==0.4.8
typing_extensions==4.13.2
pillow==11.1.0


